<div class="navbar bg-base-100">
    <div class="flex-1">
        <a href="/" class="btn btn-ghost normal-case text-xl">SpaceXplorer</a>
    </div>
    <div class="flex-none">
        <ul class="menu menu-horizontal p-0">
            <li>
                <a href="/launches">
                    Launches
                </a>
            </li>
            <li>
                <a href="/rockets">
                    Rockets
                </a>
            </li>
            <li>
                <a href="/launchpads">
                    Launchpads
                </a>
            </li>
            <li>
                <a href="/capsules">
                    Capsules
                </a>
            </li>
            <li>
                <a href="/cores">
                    Cores
                </a>
            </li>
        </ul>
    </div>
</div>
