body {
  background-color: #eee;
  margin: 0;
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif
}

.footer {
  background-color: #fff;
  text-align: center;
  line-height: 30px;
  padding: 15px;
}

.footer a:link, .footer a:visited {
  color: #3f51b5;
  text-decoration: none;
}

.basic-link {
  color: #3f51b5;
  text-decoration: none;
}